
<div class="hold-transition login-page">
    <div class="login-box animate__animated animate__backInLeft">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body" style="background-color:transparent;">
                <p class="login-box-msg">Bienvenido al Sistema<br>
                </p>
                <figure style="text-align: center;">
                    <a href="#" class="logo-3">S<span>@</span>C <i class="logo-31">Business </i><label class="logo-311">©</label></a>
                </figure>
                <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" formControlName="usuario" required>
                        <button type="button" *ngIf="loginForm.value.usuario" matSuffix mat-icon-button aria-label="Clear" (click)="loginForm.controls['usuario'].setValue('');">
                          <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="isValidField('usuario')">
                            {{ getErrorMessage('usuario') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput type="password" formControlName="password" required>
                        <button type="button" *ngIf="loginForm.value.password" matSuffix mat-icon-button aria-label="clear" (click)="loginForm.controls['password'].setValue('');">
                          <mat-icon>close</mat-icon>
                        </button>
                        <button type="button" matSuffix mat-icon-button aria-label="visbility" (click)="hide = !hide">
                            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                        </button>
                        <mat-error *ngIf="isValidField('password')">
                            {{ getErrorMessage('password') }}
                        </mat-error>
                    </mat-form-field>

                    <div class="row ">
                        <div class="col-8 ">
                            <div class="icheck-primary ">
                                <mat-checkbox formControlName="remember">Recordarme</mat-checkbox>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <button type="submit" class="btn btn-outline-secondary btn-block ">Iniciar</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3 " id="my-signin2 ">

                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1 ">
                    <a href="forgot-password.html " class="link-pass "> Olvide mi contraseña</a>
                </p>
                <!-- <p class="mb-0 ">
                    <a routerLink="/register" class="text-center link-reg ">Registrarme</a>
                </p> -->
            </div>
            <!-- /.login-card-body -->
        </div>
        <div class="box login-box-body newlogon " style="border-radius: 5px; padding: 2px; text-align: center; background-color: rgba(251, 254, 255, 0.1); ">
            <span>Power By</span><br>
            <a href="https://www.newsystem.com.ec " target="_blank "><img src="../../../assets/dist/img/newsystemok.png "></a><br>
            <span>Guayaquil-Ecuador <label> &nbsp; Copyright © 2020-2021</label></span>
        </div>
    </div>
    <!-- /.login-box -->
</div>