<div class="hold-transition register-page">
    <div class="register-box animate__animated animate__backInLeft">

        <div class="card ">
            <div class="card-body register-card-body" style="background-color:transparent;">
                <p class="login-box-msg">Nuevo Registro<br>
                </p>

                <form (ngSubmit)='crearUsuario()' [formGroup]="registerForm" autocomplete="off">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombres" formControlName='US_CODIGO'>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user" style="color: #6c757d;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Persona" formControlName='PE_CODIGO'>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color:  #6c757d;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName='US_PASSWORD'>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color:  #6c757d;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName='password2'>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color:  #6c757d;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <select class="form-control" formControlName='US_PERMISO' (change)='cambioRol($event)'>
                          <option value="">Seleccione el rol</option>
                          <option *ngFor="let rol of Roles">{{rol}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="col text-danger">
                                <p *ngIf="campoNoValido('US_CODIGO')">El nombre es obligatorio</p>
                                <p *ngIf="campoNoValido('PE_CODIGO')">El email es obligatorio</p>
                                <p *ngIf="campoNoValido('US_PERMISO')">El rol es obligatorio</p>
                                <p *ngIf="contrasenaNoValidas()">Las contraseñas tienen que ser iguales</p>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-secondary btn-block">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <a routerLink="/login" class="text-center link-reg">Iniciar sesión</a>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>