<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Usuarios</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios; let i= index;">
                                    <td>{{i+1}}</td>
                                    <td>{{usuario.US_CODIGO}}</td>
                                    <td>{{usuario.PE_CODIGO}}</td>
                                    <td>{{usuario.US_PERMISO}}</td>
                                    <td>
                                        <button class=" btn btn-warning btn-xs mr-2" type="button "><i class="fas fa-pencil-alt"></i></button>
                                        <button class=" btn btn-danger btn-xs" type="button "><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->