

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}

.botones-form{
  margin-right: 8px !important;
}

.contenedor {
	width: 90%;
	float: center;
	max-width: 1000px;
	margin: 0 auto;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: "tipo-form "
             			     "tipo-botones ";
}

.form-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.mat-elevation-z8 {    
  overflow-x: auto;
 }

 .flexExpand {
	flex: 1 1 auto;
}