<mat-grid-list cols="8" rowHeight="63px">
    <mat-grid-tile  [colspan]="7" [rowspan]="1" >
      <h2 mat-dialog-title >{{ data.message }}</h2> 
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <span class="cerrar" 
      [mat-dialog-close]>X</span> 
    </mat-grid-tile>
</mat-grid-list> 
<mat-divider></mat-divider>

<mat-dialog-content class="dialog-content">
  <div *ngIf="data.message == 'Cambiar Contraseña'">
    <app-cambio-pass>
    </app-cambio-pass>
  </div>

</mat-dialog-content>

