.cerrar{
    width: 21px;
	margin: 0 0 16px;
	border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    float: right; 
    /* box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%); */
    height: 22px;

}
