/* You can add global styles to this file, and also import other style files */

.span-btnNuevo {
    font-size: 2rem;
    color: var(--botonNormal) !important;
    cursor: pointer;
    box-shadow: 3px 3px 10px #0063cc7c;
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button:focus { outline: none; }